<html>
  <h1>Welcome to the Shipping Tracker</h1>

    <h3>Please Sign Up</h3>

    <form action="/users" method="POST">
    <label>Email:</label>
    <input type="text" name="users[email]"><br>

    <label>Password:</label>
    <input type="text" name="users[password]">

    </form>
</html>  