<h1>Edit Retailers</h1>

<form action="/retailers/<%= @retailers.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch" />
  
  <label for="name">Name</label>
  <input type="text" name="name" value="<%=retailers.name%>" />
  
  <label for="boxes"></label>
  <input type="text" name="boxes" value="<%=retailers.boxes"/>
  
  <input type="submit" value="submit" />
</form>

