  <h1>Retailers</h1>
    
  <% @retailers.each do |retailer| %>
      <h2><a href="/retailers/<% @retailers.ids %>">Name:<% @retailers.name %></a></h2>
      <p>Boxes:<% @retailers.boxes %></p>
  <% end %>

  <button><a href="/retailers/new">Create A New Retailer</a></button>