<h3>Create A New Retailer</h3>
<form action="/retailers" method="POST">
  <label for="name">Name:</label>
  <input type="text" name="name" />
  
  <label for="boxes">Boxes:</label>
  <input type="text" name="boxes" />
  <br><br>
  
  <button type="submit" value="submit">Add Retailer</button>
</form>