<h3>Create A New Retailer</h3>
<form action="/retailers" method="POST">
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="boxes" placeholder="Boxes">
  <br><br>
  <input type="submit" value="submit">
</form>