 <h1><%= @retailer.name %></h1>

 <button><a href="/retailers/<%= @retailer.id %>/retailers/new">Add A New Retailer</a></button>
 <button><a href="/retailer/<%= @retailer.id %>/edit">Edit Retailer</a></button>


 <form action="/retailers/<%=@retailer.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete project">
 </form>