 <h1><%= @retailers.name %></h1>

 <button><a href="/retailers/<%= @retailers.id %>/retailers/new">Add A New Retailer</a></button>
 <button><a href="/retailer/<%= @retailers.id %>/edit">Edit Retailer</a></button>


 <form action="/retailers/<%=@retailers.id %>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="delete retailer">
 </form>